@model IEnumerable<SmartHouseWeb.ViewModels.ValoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Valot</h2>
<img src="~/Images/valo.jpg" />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Huone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValoOff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValoOn33)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValoOn66)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValoOn100)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Huone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValoOff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValoOn33)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValoOn66)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValoOn100)
        </td>
        <td>
            @Html.ActionLink("Off", "LightsOff", new { id = item.ValoId }) |
            @Html.ActionLink("33", "Light33", new { id = item.ValoId }) |
            @Html.ActionLink("66", "Light66", new { id = item.ValoId }) |
            @Html.ActionLink("100", "Light100", new { id = item.ValoId }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.ValoId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ValoId })
        </td>
    </tr>
}

</table>
